<!DOCTYPE html>
<html lang="en">
    {{ template "header" }}
    <body id="page-top">
        <div class="row top=20%">
            {{range .Photos}}
            <a  href="/assets/gallery/{{.Picture}}">
                    <img
                        src="/assets/gallery/{{.Picture}}"
                        class="w-100 shadow-1-strong rounded section-border"
                        alt= "{{ .Title }}"
                    />
            </a>
            
            {{ end }}

        </div>
  <!-- Gallery -->
    </body>
    {{ template "footer"}}
</html>

