{{define "portfolio"}}
<section class="content-section-np section-border" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portfolio</h3>
            <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content text-shadow-portfolio">
                            <div class="h2">SwordFish</div>
                            <p class="mb-0">A simple application similar in concept to Raptor. Lacking a UI it still compares Excel files</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/assets/img/swordfish.png" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content text-shadow-portfolio">
                            <div class="h2">Grocer Analyzer</div>
                            <p class="mb-0">C++ console based application that will take a list from a file and price out the costs at a store.
                                

                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/assets/img/grocery-analyzer.png" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content text-shadow-portfolio">
                            <div class="h2">Pet Boarding program</div>
                            <p class="mb-0">Another console based application, but written in Java. This one will let a user input a new animal followed by other information.
                                            Then the animal can be reserved if applicable or all animals can be searched through.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/assets/img/pet-boarding.png" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content text-shadow-portfolio">
                            <div class="h2">This Website</div>
                            <p class="mb-0">This is a full stack website with golang running the server side and some light javascript on the frontend</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/assets/img/website.png" alt="..." />
                </a>
            </div>
        </div>
    </div>
</section>

{{end}}